<h1>Hola Angular</h1>

<a [routerLink]="['/ejemplo1']">Ejemplo1</a> |
<a [routerLink]="['/ejemplo2']">Ejemplo2</a> |
<a [routerLink]="['/ejemplo3']">Ejemplo3</a> |
<a [routerLink]="['/ejemplo4']">Ejemplo4</a> |
<a [routerLink]="['/ejemplo5']">Ejemplo5</a> |
<a [routerLink]="['/ejemplo6']">Ejemplo6</a> |
<br>
<a [routerLink]="['/ejemplo7']">Ejemplo7</a> |
<a [routerLink]="['/ejemplo8']">Ejemplo8</a> |
<a [routerLink]="['/ejemplo9']">Ejemplo9</a> |
<a [routerLink]="['/ejemplo10']">Ejemplo10</a> |
<a [routerLink]="['/ejemplo11']">Ejemplo11</a> |
<a [routerLink]="['/ejemplo12']">Ejemplo12</a> |
<br>
<a [routerLink]="['/ejemplo13']">Ejemplo13</a> |
<a [routerLink]="['/ejemplo14Padre']">Ejemplo14 Padre</a> |
<a [routerLink]="['/ejemplo15Padre']">Ejemplo15 Padre</a> |
<a [routerLink]="['/ejemplo16']">Ejemplo16</a> |
<a [routerLink]="['/ejemplo17']">Ejemplo17</a> |
<a [routerLink]="['/ejemplo18']">Ejemplo18</a> |
<br>
<a [routerLink]="['/listado-nombres']">ListadoNombres</a> |
<a [routerLink]="['/anhadirprofes']">Anhadir Profesores</a> |
<a [routerLink]="['/multiplicarnumeros']">Multiplicar Numeros</a> |
<br/>
<a [routerLink]="['/examen']">examen</a> |

<hr>
<router-outlet></router-outlet>
